{% extends 'base.html' %}

{% block content %}
<h1>Welcome to Our Passport Project</h1>
<h3>Use the links below to navigate to our interactive views and datasets</h3>
<p>Explore our interactive visualizations:</p>
<ul>
    <li><a href="/interactive_map">Interactive Map</a></li>
    <li><a href="/interactive_charts">Interactive Charts</a></li>
</ul>
<p>Access our passport and geographical datasets:</p>
<ul>
    <li><a href="/data/passport_data">Passport Data</a></li>
    <li><a href="/data/geo_data">Geo Data</a></li>
</ul>
{% endblock %}